In [1]:
# Import pandas library
import pandas as pd

# List of tuples
students = [('Ankit', 23, 'Delhi', 'A'),
			('Swapnil', 22, 'Delhi', 'B'),
			('Aman', 22, 'Dehradun', 'A'),
			('Jiten', 22, 'Delhi', 'A'),
			('Jeet', 21, 'Mumbai', 'B')
			]

# Creating Dataframe object
df = pd.DataFrame(students, columns =['Name', 'Age', 'City', 'Section'])
print(df)
# This function will return a
# list of positions where
# element exists in dataframe
def getIndexes(dfObj, value):
	
	# Empty list
	listOfPos = []
	

	# isin() method will return a dataframe with
	# boolean values, True at the positions
	# where element exists
	result = dfObj.isin([value])
	
	# any() method will return
	# a boolean series
	seriesObj = result.any()

	# Get list of columns where element exists
	columnNames = list(seriesObj[seriesObj == True].index)
	
	# Iterate over the list of columns and
	# extract the row index where element exists
	for col in columnNames:
		rows = list(result[col][result[col] == True].index)

		for row in rows:
			listOfPos.append((row, col))
			
	# This list contains a list tuples with
	# the index of element in the dataframe
	return listOfPos

# Create a list which contains all the elements
# whose index position you need to find
listOfElems = [22, 'Delhi']

# Using dictionary comprehension to find
# index positions of multiple elements
# in dataframe
dictOfPos = {elem: getIndexes(df, elem) for elem in listOfElems}

print('Position of given elements in Dataframe are : ')

# Looping through key, value pairs
# in the dictionary
for key, value in dictOfPos.items():
	print(key, ' : ', value)

      Name  Age      City Section
0    Ankit   23     Delhi       A
1  Swapnil   22     Delhi       B
2     Aman   22  Dehradun       A
3    Jiten   22     Delhi       A
4     Jeet   21    Mumbai       B
Position of given elements in Dataframe are :
22  :  [(1, 'Age'), (2, 'Age'), (3, 'Age')]
Delhi  :  [(0, 'City'), (1, 'City'), (3, 'City')]

In [3]:
df["Age"]

0    23
1    22
2    22
3    22
4    21
Name: Age, dtype: int64

In [8]:
json

{'File Type': 'order form', 'File Number': 1}

In [11]:
print(json.get('File Type'))

order form

In [14]:
for i in json:
    print(json.get(i))

order form
1

In [15]:
users = {'Section 1: File Info': ['File Type', 'File Number', 'File Name', '', 'Section 2: Client and Billing Info', 'Client Name', 'Primary Contact', 'Address', 'Phone', 'Email', 'Billing Contact Name', 'Billing Contact Phone', 'Billing Contact Address', 'Billing Contact Email', 'Additional Remarks about Clients', '', 'Section 3: Invoices and Fees - Flat Info', 'Payment Terms', 'Purchased Services (one line summary)', 'Fees (one line summary)', 'Invoices (one line summary)', 'Initial Purchase Period', 'Contract Purchase Period', 'Price Protection', 'Price Protection End Date', 'Other flat info', '', 'Section 4: Invoices and Fees - Tabular Info', 'Fee - Items', 'Data Access', 'Data Access', 'Data Access', 'Trend Data Fee']}

In [19]:
frame = pd.DataFrame(users, columns=['Section 1: File Info', 'result'])

In [20]:
frame

                           Section 1: File Info result
0                                     File Type    NaN
1                                   File Number    NaN
2                                     File Name    NaN
3                                                  NaN
4            Section 2: Client and Billing Info    NaN
5                                   Client Name    NaN
6                               Primary Contact    NaN
7                                       Address    NaN
8                                         Phone    NaN
9                                         Email    NaN
10                         Billing Contact Name    NaN
11                        Billing Contact Phone    NaN
12                      Billing Contact Address    NaN
13                        Billing Contact Email    NaN
14             Additional Remarks about Clients    NaN
15                                                 NaN
16     Section 3: Invoices and Fees - Flat Info    NaN
17                                Payment Terms    NaN
18        Purchased Services (one line summary)    NaN
19                      Fees (one line summary)    NaN
20                  Invoices (one line summary)    NaN
21                      Initial Purchase Period    NaN
22                     Contract Purchase Period    NaN
23                             Price Protection    NaN
24                    Price Protection End Date    NaN
25                              Other flat info    NaN
26                                                 NaN
27  Section 4: Invoices and Fees - Tabular Info    NaN
28                                  Fee - Items    NaN
29                                  Data Access    NaN
30                                  Data Access    NaN
31                                  Data Access    NaN
32                               Trend Data Fee    NaN

In [28]:
list(json.keys())

['File Type', 'File Number']

In [33]:
df

      Name         Age      City Section
0    Ankit          23     Delhi       A
1  Swapnil  order form     Delhi       B
2     Aman          22  Dehradun       A
3    Jiten          22     Delhi       A
4     Jeet          21    Mumbai       B

In [42]:
list(df[df['Age']=='order form'].index.values)

[1]

In [56]:
json = {'File Type': 'order form sow', 'File Number': 1, 'File Name':'172.pdf', 'Phone':123456789, 'Email':'abc@xyz.com'}

In [65]:
df.columns.get_loc('City')

2

In [59]:
for i in frame['Section 1: File Info']:
    for key in list(json.keys()):
        if key in i:
            index = list(frame[frame['Section 1: File Info'] == key].index.values)
            frame.at[index[0], 'result'] = json.get(key)
            
import numpy as np
print(frame.replace(np.NaN, ''))

                           Section 1: File Info          result
0                                     File Type  order form sow
1                                   File Number               1
2                                     File Name         172.pdf
3
4            Section 2: Client and Billing Info
5                                   Client Name
6                               Primary Contact
7                                       Address
8                                         Phone       123456789
9                                         Email     abc@xyz.com
10                         Billing Contact Name
11                        Billing Contact Phone
12                      Billing Contact Address
13                        Billing Contact Email
14             Additional Remarks about Clients
15
16     Section 3: Invoices and Fees - Flat Info
17                                Payment Terms
18        Purchased Services (one line summary)
19                      Fees (one line summary)
20                  Invoices (one line summary)
21                      Initial Purchase Period
22                     Contract Purchase Period
23                             Price Protection
24                    Price Protection End Date
25                              Other flat info
26
27  Section 4: Invoices and Fees - Tabular Info
28                                  Fee - Items
29                                  Data Access
30                                  Data Access
31                                  Data Access
32                               Trend Data Fee

In [5]:
df

      Name  Age      City Section
0    Ankit   23     Delhi       A
1  Swapnil   22     Delhi       B
2     Aman   22  Dehradun       A
3    Jiten   22     Delhi       A
4     Jeet   21    Mumbai       B

In [12]:
df.at[1, 'Age'] = json.get("File Type")

In [13]:
df

      Name         Age      City Section
0    Ankit          23     Delhi       A
1  Swapnil  order form     Delhi       B
2     Aman          22  Dehradun       A
3    Jiten          22     Delhi       A
4     Jeet          21    Mumbai       B