In [1]:
l = [1,0,5,3,0,1,0,2,1]

In [2]:
dir(l)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [2]:
# op = [0,0,0,1,5,3,1,2,1]

In [ ]:
# op = []
for i in l:
    if i == 0:
        l.insert(0,i)
#     else:
#         l.append(i)
l

In [2]:
s = "rahul kumar"
dic = {}
for i in s:
    dic[i] = dic.get(i, 0) + 1
dic

{'r': 2, 'a': 2, 'h': 1, 'u': 2, 'l': 1, ' ': 1, 'k': 1, 'm': 1}

In [ ]:
l = [2,3,5,6,9,1,4,8,7]

In [6]:
# import itertools
s = "abc"
# abc,acb,bca,bac,cab,cba
# nPr
# 3! = 6
op = []
s[1]
for k,v in enumerate(s):
    op.append(s[k]+)

'b'

In [ ]:
select max(salary) from emp where salary not in (select max(salary) from emp where salary )

In [7]:
select salary from emp order by salary desc limit 3;

SyntaxError: invalid syntax (2175887890.py, line 1)

In [ ]:
offset

In [ ]:
select * from emp where  join(dept)

In [ ]:
session.query(emp).filter(emp.id=dept.id).rightjoin(emp,dept).first()