In [5]:
t = (1,2,3)

In [6]:
id(t)

140673202385728

In [7]:
t = (1,2,3,4,5)

In [8]:
id(t)

140673339967984

In [ ]:
app = Flask()
app.route('/check')
app.run(debug=true, port=8080)

In [ ]:
aws -> s3
comprehend
lambda
ECR

In [3]:
print(t)

(1, 2, 3, 4, 5)

In [4]:
t.append(2)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
append dn

In [ ]:
dns/endpoint
headers
parameter

In [ ]:
dept
salary

In [ ]:
select max(salary) from dept where not in (select max(salary) from dept))