In [3]:
import numpy as np
data = {
  "col1": ["a", "b", "c", np.nan, np.nan, "f"],
  "col2": [50, 40, 45, 55, 35, 20]
}

In [4]:
data

{'col1': ['a', 'b', 'c', nan, nan, 'f'], 'col2': [50, 40, 45, 55, 35, 20]}

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(data)

In [7]:
df

  col1  col2
0    a    50
1    b    40
2    c    45
3  NaN    55
4  NaN    35
5    f    20

In [9]:
df.col1.iloc[3]

nan

In [31]:
for k,v in enumerate(df.col1):
    if str(v) == 'nan':
#         print(df.col2.iloc[k])
        df.col1.iloc[k] = df.col2.iloc[k]

/tmp/ipykernel_63503/3171685493.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.col1.iloc[k] = df.col2.iloc[k]

In [32]:
df

  col1  col2
0    a    50
1    b    40
2    c    45
3   55    55
4   35    35
5    f    20

In [40]:
data2 = {
  "col0": ["a", np.nan, np.nan, np.nan, np.nan, np.nan],
  "col1": [50, "b", "c,c1,c2,c3", np.nan, np.nan, "f"],
  "col2": [1.2, 40, 45, 55, 35, 20],
  "col3": [np.nan,1.3,1.4,1.5,1.6,1.7]
}
df = pd.DataFrame(data2)

In [41]:
df

  col0        col1  col2  col3
0    a          50   1.2   NaN
1  NaN           b  40.0   1.3
2  NaN  c,c1,c2,c3  45.0   1.4
3  NaN         NaN  55.0   1.5
4  NaN         NaN  35.0   1.6
5  NaN           f  20.0   1.7

In [43]:
temp = df.col1.iloc[0]

In [44]:
temp

50

In [45]:
df.col1.iloc[0] = df.col0.iloc[0]

/tmp/ipykernel_63503/4118547132.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.col1.iloc[0] = df.col0.iloc[0]

In [46]:
df

  col0        col1  col2  col3
0    a           a   1.2   NaN
1  NaN           b  40.0   1.3
2  NaN  c,c1,c2,c3  45.0   1.4
3  NaN         NaN  55.0   1.5
4  NaN         NaN  35.0   1.6
5  NaN           f  20.0   1.7

In [47]:
df.col0.iloc[0] = np.nan

/tmp/ipykernel_63503/4015320193.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.col0.iloc[0] = np.nan

In [48]:
df

  col0        col1  col2  col3
0  NaN           a   1.2   NaN
1  NaN           b  40.0   1.3
2  NaN  c,c1,c2,c3  45.0   1.4
3  NaN         NaN  55.0   1.5
4  NaN         NaN  35.0   1.6
5  NaN           f  20.0   1.7

In [49]:
temp

50

In [50]:
df.col3.iloc[0] = df.col2.iloc[0]

/tmp/ipykernel_63503/2002672661.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.col3.iloc[0] = df.col2.iloc[0]

In [51]:
df.col2.iloc[0] = temp

/tmp/ipykernel_63503/3348525095.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.col2.iloc[0] = temp

In [52]:
df

  col0        col1  col2  col3
0  NaN           a  50.0   1.2
1  NaN           b  40.0   1.3
2  NaN  c,c1,c2,c3  45.0   1.4
3  NaN         NaN  55.0   1.5
4  NaN         NaN  35.0   1.6
5  NaN           f  20.0   1.7