In [1]:
l1 = [1,2,3,4]
l2= [1,4,9,16]

In [4]:
op= [i**2 for i in l1]

In [5]:
op

[1, 4, 9, 16]

In [6]:
d = {l1[i]:l2[i] for i in range(len(l2))}

In [7]:
d

{1: 1, 2: 4, 3: 9, 4: 16}

In [8]:
import pandas as pd

In [11]:
data = {"name":['a','b'],"age":[10,20]}
df = pd.DataFrame(data)

In [12]:
df

  name  age
0    a   10
1    b   20